* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  background: #0b0d1a;
  color: #ffffff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #0b0d1a;
}

.logo span {
  color: #6c63ff;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
}

.play-btn {
  padding: 8px 16px;
  background: #6c63ff;
  border-radius: 5px;
}

/* SECTIONS */
.section {
  padding: 70px 60px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content:space-around;
  gap: 10px;
}

.reverse {
  flex-direction: row-reverse;
}

.text {
  max-width: 500px;
}

.text h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.text p {
  margin-bottom: 12px;
  line-height: 1.6;
}

.text ul li {
  margin-bottom: 10px;
}


.image img {
  width: 350px;
  border-radius: 10px;
}
#profile{
  width: 80px;
  border-radius: 50%;
  border-color: #6c63ff 1px;
}

/* BUTTON */
.main-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 22px;
  background: #6c63ff;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}

/* SPONSORS */
.sponsors {
  padding: 60px;
  text-align: center;
}

.sponsor-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.sponsor {
  background: #12152a;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
}

.sponsor img {
  border-radius: 50%;
  margin-bottom: 10px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background: #12152a;
  margin-top: 20px;
}
